{% extends 'Admin/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table cellpadding="10" class="table table-hover">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Email</td>
            <td>Action</td>
        </tr>
        {% for i in user %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user_name}}</td>
            <td>{{i.user_email}}</td>
            <td><a href="{% url 'Admin:verifyuser' i.id 1 %}">Reject</a></td>
        </tr>
        {% endfor %}
    </table>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location="{% url 'Admin:user' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}
